
header{
    background-color: white;
    border-bottom: gray 1px solid;
    position: fixed;
    top: 0px;
    width: 100%;
    /* padding: 0px; */
    height: 89px;
    align-content: flex-end;
    margin: 0%;
    z-index: 3;
}

.background {
    margin: 0%;
    margin-top: 0px;
    margin-right: 0px;
    background-image:url("background.jpg");
    background-size: cover;
    height: 1300px;
    position: relative;
    z-index: 1;
}

h1 {
    background-color: rgb(15, 131, 131);
    float: left;
    color: white;
    align-content: center;
    left: 10%;
    padding: 15px;
    height: 60px;
    margin: 0px;
    border-bottom: 1px solid gray;
    position: fixed; 
    z-index: 2;
}

.links {
    float: right;
    font-size: 130%;
    margin-right: 15%;
}

a {
    color: rgb(68, 60, 60);
    text-decoration: none;
}

a:hover {
  color: teal;
  text-decoration: underline;
}

.content { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    bottom: 150px;
    top: 150px;
    padding: 50px;
    margin: auto;
    clear: both;
    background-color: white;
    position: relative;
    max-width: 960px;
    min-height: 960px;
    z-index: 1;
    color: rgb(43, 42, 42);
}

.title {
    color: teal;
    border-bottom: gray solid 3px;
}

footer {
    background-color: gray;
    position: relative;
    padding: 20px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 200%;
    border-top: teal 5px Solid;
}

.pic{
    float: left;
    margin: 30px;
}

img{
    width: 200px;
    height: 200px;
}

.pic.caption{
    width: 200px;
    height: 35px;
    position: relative;
    /* z-index: 1; */
    color: white;
    background-color: teal;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 1px 20px;
    margin: 5%;
    box-sizing: border-box;
    border: solid grey;
}

ins[type=text]:focus{
    background-color: lightslategray;
}